<launch>
  <arg name="config_path" default="$(find eso_nmpc_ros1)/../../config/nmpc.yaml" />
  <arg name="timing_log" default="" />

  <rosparam command="load" file="$(find eso_nmpc_ros1)/config/params.yaml" />
  <param name="/eso_nmpc_ros1/config_path" value="$(arg config_path)" />
  <param name="/eso_nmpc_ros1/timing_log" value="$(arg timing_log)" />

  <node pkg="eso_nmpc_ros1" type="eso_nmpc_node.py" name="eso_nmpc_ros1" output="screen" />
</launch>
