<launch>
  <!-- Native C++ controller entry point. The former Python controller is not
       part of any active ROS1 launch file. -->
  <arg name="auto_manage_flight" default="true" />
  <arg name="shadow_mode" default="false" />
  <arg name="rc_aux_channel" default="6" />
  <arg name="timing_log_path" default="" />
  <include file="$(find eso_nmpc_cpp)/launch/eso_nmpc_cpp.launch">
    <arg name="auto_manage_flight" value="$(arg auto_manage_flight)" />
    <arg name="shadow_mode" value="$(arg shadow_mode)" />
    <arg name="rc_aux_channel" value="$(arg rc_aux_channel)" />
  </include>
  <param name="/eso_nmpc_cpp/timing_log_path" value="$(arg timing_log_path)" />
</launch>
